.ProductCard{
    margin-left: 5%;
    margin-top: 5px;
    width: 65%;
    border: 1px solid grey;
}
.ProductImg{
    width: 150px;
    margin-left: 10px;
}
.del-edit-btn{
    float: right;
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
}