.OrderCard{
    width: 50%;
    height: fit-content;
    border: 1px solid black;
}
.Order-Btn{
    float: right;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
}
.Order-Btn:hover{
    background-color: yellow;
}