.nav-link{
    margin-top: 10px;
}
.nav-link a {
     float: right;
     margin-right: 5%;
     text-decoration: none;
     font-weight: bold;
     color: #000;
     font-size: 20px;
 }
.nav-link a:hover{
      color: yellowgreen;
  }
